<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recipegen.hackdfwrecipe" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IngredientChooserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity" >
        </activity>
        <activity
            android:name=".activities.DisplayRecipesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity" >
        </activity>
        <activity
            android:name=".activities.FavoritedRecipesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity" >
        </activity>
    </application>

</manifest>
